upstream {{ item.name }} {
{% for upstream in item.upstreams %}
    server {{ upstream }};
{% endfor %}
}

server {
    listen 80;

    location / {
        proxy_pass http://{{ item.name }};

        client_max_body_size 200M;
    }
}
